#header-logo-container img {
    width: 100px; 
    /* margin: 0 20px;  */
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items ul{
    list-style: none;
    display: flex;
    
    
}
.nav-items ul li{
    margin:12px;
    padding: 5px;
    font-size: 20px;
}
.restro-logo img{
    width:190px;
    padding: 4px;
}
.restro-card{
    border: 1px solid black;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 5px;
    width: 200px;

}

.restro-card:hover{
    cursor: pointer;
    border: 1px solid red;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}

